Repository Milo123459/Spencer, pull requests merged in 2021-01, with the labels that each got.

#81 feat(UrlShortenerCommand): add url shortener command
  src/commands/Utility Commands/URLShortenerCommand.ts
Labels: commands

#84 fix(SetJobCommand): fix mispelled Word
  src/commands/Economy Commands/SetJobCommand.ts
Labels: commands

#86 feat(Language): add lexer
  src/language/Lexer.ts
Labels: language

#95 Apply fixes from CodeFactor
  src/commands/Config Commands/ConfigCommand.ts
  src/events/Guild Events/MessageEvent.ts
Labels: commands, events

#99 Apply fixes from CodeFactor
  src/commands/Economy Commands/WorkCommand.ts
Labels: commands

#115 feat(EjectedMemeCommand): create ejected meme command
  .pnp.js
  src/commands/Fun Commands/EjectedMemeCommand.ts
Labels: commands
